<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="SqlConnection" connectionString="Data Source=RTS6-ASUTP\SQLEXPRESS;Initial Catalog=snt_Counter;Integrated Security=True;TrustServerCertificate=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="pathConfig" value="Resources\Config.ini" />
    <add key="pathLogInfo" value="Logs\Information\" />
    <add key="pathLogData" value="Logs\Data\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>